header.flex
    .nav-icon1
        span 
        span 
        span 
    nav
        a(href="#") Inicio
        a(href="#") Acerca de nosotros
        a(href="#") Historia
        a(href="#") Contacto
    aside
        span.active ES   
        span EN
        
