@media only screen and (max-width: 767px) {

    header{
        aside{
            margin-right: 20px;
            position: relative;
            z-index: 3;
        }
        .nav-icon1 {
            width: 30px;
            height: 40px;
            position: relative;
            transform: rotate(0deg);
            transition: .5s ease-in-out;
            cursor: pointer;
            z-index: 5;
            span {
                display: block;
                position: absolute;
                height: 2px;
                width: 100%;
                background: #fff;
                border-radius: 9px;
                opacity: 1;
                left: 0;
                transform: rotate(0deg);
                transition: .25s ease-in-out;
                &:nth-child(1){
                    top: 0px
                }
                &:nth-child(2){
                    top: 10px
                }
                &:nth-child(3){
                    top: 20px
                }
            }
            &.open{
                span{
                    &:nth-child(1){
                        top: 18px;
                        transform: rotate(135deg)
                    }
                    &:nth-child(2){
                        opacity: 0;
                        left: -60px
                    }
                    &:nth-child(3){
                        top: 18px;
                        transform: rotate(-135deg)
                    }
                }
            }

        }
        nav{
            position: absolute;
            width: 100%;
            height: 100vh;
            background: #2b3049;
            position: absolute;
            left: 0;
            top: -40px;
            padding: 227px 20px;
            padding:155px 20px 0 96px;
            transition: all .3s ease;
            visibility: hidden;
            opacity: 0;
            &.active{
                visibility: visible;
                opacity: 1;
            }
            a{
                display: block;
                font-size: 16px;
                margin-bottom: 20px;
            }
        }
    }


    section.cover-hero{
        height: 86vh;
        overflow: hidden;
        .item-container{
            height: 100vh;
            .item-icon{
                figure{
                    width: 32px;
                    margin: 15px auto;
                }
            }
            .item-col{
                &:first-child{
                    width: 80px;
                    margin-right: 16px;
                    height: 100vh;
                    position: relative;
                    z-index: 3;
                }
                .item-content{
                    margin-top: 50px;
                    h1{
                        font-size: 32px;
                        width: 100%;
                    }
                    a.btn{
                        padding: 10px 15px;
                    }
                }
            }

        }
    }
    section.accessories{
        width: 100%;
        .item-content{
            flex-direction: column;
            margin-left: 0;
            width: 100%;
            padding: 0 20px;
            .flex{
                flex-direction: column;
                align-items: flex-start;
                p{
                    width: 100%;
                    margin-bottom: 15px;
                    font-size: 16px;
                    line-height: 22px;
                }
                a.btn2{
                    margin: 0;
                }
            }
            .item-col{
                width: 100%;
                &:first-child{
                    p{
                        text-align: left;
                        margin-right: 0;
                    }
                }
                text-align: left;
            }
            h2{
                width: 100%;
                font-size: 28px;
            }
        }

    }

    section.our-rackets{
        .item-container{
            flex-direction: column;
            .item-col{
                width: 100%;
                &:last-child{
                    margin-left: 0;
                    width: 100%;
                }
                .owl-carousel.owl-racket{
                    .item-content{
                        width: 100%;
                        &:first-child{
                            margin-left: 0;
                        }
                    }
                }

                .item-content{
                    height: 50vh;
                    .item-overlay{
                        padding: 0;
                        align-items: center;
                        .item-data{
                            padding-top: 20px;
                            h2{
                                font-size: 28px;
                                text-align: center;
                            }
                            p{
                                text-align: center;
                                width: 100%;
                                padding: 0 20px;
                            }
                        }
                        .owl-carousel.owl-ball{
                            width: 100%;

                            .owl-dots{
                                text-align: center;
                            }
                            .owl-nav{
                                left: 50%;
                                transform: translate(-50%, -50%);
                                bottom: -97px;
                            }
                        }
                    }

                }
            }
        }
    }

    footer{
        padding: 34px 20px 34px 20px;
        nav.footer{
            a{
                font-size: 16px;
                display: block;
                margin-bottom: 5px;
            }
        }
        figure.pelota{
            top: 159px;
            right: 15px;
            width: 35px;
        }
    }



}
@media only screen and (max-width: 480px) {

}


@media only screen and (max-width: 320px) {

}
